@model List<Order>
@{ 
    int count = 0;
}
<div class="my-account-order account-wrapper">
    <h2 class="account-title" style="text-align:center;color:black;">Orders</h2>
    <div class="account-table text-center mt-30 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="no">No</th>
                    <th class="name">Customer</th>
                    <th class="date">Date</th>
                    <th class="date">Country</th>
                    <th class="date">Adress</th>
                    <th class="status">Status</th>
                    <th class="date">Payment</th>
                    <th class="total">Total</th>
                    <th class="action">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model as List<Order>)
                {
                    count++;
                    
                    <tr>
                        <td>@count</td>
                        <td>@item.FirstName  @item.Surname</td>
                        <td>@item.CreatedAt.Value.Date.ToLongDateString()</td>
                        <td>@item.Country / @item.City</td>
                        <td>@item.Address</td>
                        @switch (item.OrderStatus)
                        {
                            case OrderStatus.Pending:
                                <td><span style="height:25px;width:70px;font-size:11px;text-align:center;display:flex;justify-content:center;align-items:center;" class="badge badge-primary">New</span></td>
                                break;
                            case OrderStatus.Delivering:
                                <td><span style="height:25px;width:70px;font-size:11px;text-align:center;display:flex;justify-content:center;align-items:center;" class="badge badge-info">Delivering</span></td>
                                break;
                            case OrderStatus.Completed:
                                <td><span style="height: 25px; width: 70px; font-size: 11px; text-align: center; display: flex; justify-content: center; align-items: center;" class="badge badge-success">Completed</span></td>
                                break;
                            case OrderStatus.Canceled:
                                <td><span style="height: 25px; width: 70px; font-size: 11px; text-align: center; display: flex; justify-content: center; align-items: center;" class="badge badge-danger">Canceled</span></td>
                                break;
                            default:
                                break;
                        }
                        <td>@item.PaymantMethod</td>
                        <td>$@String.Format("{0:0.00}", item.TotalPrice)</td>
                        <td><a class="btn btn-outline-info" asp-action="orderdetail" asp-route-id="@item.Id">Show Order List</a></td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
